AnyQt==0.0.11
baycomp==1.0.2
Bottleneck==1.3.2
CacheControl==0.12.6
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
commonmark==0.9.1
cryptography==3.3.1
cycler==0.10.0
decorator==4.4.2
dictdiffer==0.8.1
docutils==0.16
et-xmlfile==1.0.1
h11==0.9.0
httpcore==0.10.2
httpx==0.14.3
idna==2.10
jdcal==1.4.1
jeepney==0.6.0
joblib==1.0.0
keyring==21.8.0
keyrings.alt==4.0.2
kiwisolver==1.3.1
lockfile==0.12.2
matplotlib==3.3.3
msgpack==1.0.2
networkx==2.5
numpy==1.19.4
openpyxl==3.0.5
openTSNE==0.5.0
orange-canvas-core==0.1.18
orange-widget-base==4.10.0
Orange3==3.27.1
pandas==1.2.0
Pillow==8.1.0
pycparser==2.20
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyqtgraph==0.11.1
PyQtWebEngine==5.15.2
python-dateutil==2.8.1
python-louvain==0.15
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
rfc3986==1.4.0
scikit-learn==0.24.0
scipy==1.6.0
SecretStorage==3.3.0
serverfiles==0.3.0
six==1.15.0
sniffio==1.2.0
threadpoolctl==2.1.0
urllib3==1.26.2
xlrd==2.0.1
XlsxWriter==1.3.7
